%%
%% -*- erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%
{variables, [{package_name, "package_name"},
             {package_install_name, "package_install_name"},
             {package_install_user, "package_install_user"},
             {package_install_group, "package_install_group"}]}.
{template, "Makefile", "Makefile"}.
{template, "specfile", "specfile"}.
{template, "init.script", "init.script"}.


