# Set this for the default basedir for relocatable packages
BASEDIR=/opt
CLASSES=none preserve
TZ=EST
PATH=/sbin:/usr/sbin:/usr/bin:/usr/sadm/install/bin
PKG=@@PKG@@
NAME=@@PKGNAME@@
VERSION=@@VERSION@@
CATEGORY=application
DESC={{package_descr}}
VENDOR={{vendor_name}}
EMAIL={{vendor_contact_email}}
PKGSAV=/var/sadm/pkg/@@PKG@@/save
