#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# modified for node_package by dizzyd@basho.com and jared@basho.com

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1


## Clear variables that may confound our build of sub-projects; also
## note that it is necessary to use overlay_vars relative to .. as
## the generate command EXECUTES in rel/
build:
	unset CC CFLAGS CPPFLAGS LDFLAGS CXX CXXFLAGS \
		&& OVERLAY_VARS="overlay_vars=../debian/vars.config" make rel
	touch build

clean:
	dh_clean
	rm -f build
	make clean

## dh_shlibdeps was added to figure out the dependencies on shared libraries
##   and will populate the ${shlibs:Depends} callout in the control file
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	cp -R rel/{{package_install_name}}/lib \
              debian/{{package_name}}/usr/lib/{{package_install_name}}

	cp -R rel/{{package_install_name}}/erts* \
              debian/{{package_name}}/usr/lib/{{package_install_name}}

	cp -R rel/{{package_install_name}}/releases \
              debian/{{package_name}}/usr/lib/{{package_install_name}}

## executables
	if [ -d rel/{{package_install_name}}/bin ]; then \
	    mkdir -p debian/{{package_name}}/usr/{{bin_or_sbin}} && \
	    {{#package_commands}}install -p -D -m 0755 rel/{{package_install_name}}/bin/{{name}} debian/{{package_name}}/usr/{{bin_or_sbin}}/ && \
	    {{/package_commands}}echo -n; fi

## install man pages if they exist
	if [ -d doc/man/man1 ]; then \
	    mkdir -p debian/usr/share/man/man1 && \
	    {{#package_commands}}if [ -f doc/man/man1/{{name}}.1.gz ]; then \
                                     install -p -D -m 0544 doc/man/man1/{{name}}.1.gz \
                                             debian/{{package_name}}/usr/share/man/man1/ \
                                 ; fi && \
	    {{/package_commands}}echo -n; fi

	mkdir -p debian/{{package_name}}/etc/{{package_install_name}}
	cp -R rel/{{package_install_name}}/etc/* \
              debian/{{package_name}}/etc/{{package_install_name}}

	mkdir -p debian/{{package_name}}/var/lib
	cp -R rel/{{package_install_name}}/data/* \
              debian/{{package_name}}/var/lib/{{package_install_name}}

	install -m755 debian/init.script \
              debian/{{package_name}}/etc/init.d/{{package_install_name}}

	dh_shlibdeps

# We have nothing to do by default.
binary-indep: install build-stamp
build-stamp:

# Build architecture-dependent files here.
binary-arch: install
	dh_strip -a
	dh_compress -a
	dh_installdeb
	dh_gencontrol
	dh_builddeb

binary: binary-indep binary-arch
